/****************************
GENERAL
*****************************/

body {
    font-family: "Varela Round", sans-serif;
}

.vert-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center-text {
    text-align: center;
}

.center {
    margin: 0 auto;
}


/****************************
NAVIGATION
*****************************/

#desktop {
    display: none;
}

.nav {
    height: 100px;
    position: relative;
    border-bottom: solid 1px transparent;
}

.nav h4 {
    color: #bd5ae7;
    padding-bottom: 0;
    margin-bottom: 8px;
}

.nav-text {
    min-width: 100%;
}

.options {
    display: none;
}

.options-mobile li {
    list-style: none;
    display: inline;
}

.options-mobile li:nth-child(-n+3) {
    padding-right: 13px;
}

.options-mobile li a {
    text-decoration: none;
    color: #333;
    font-size: 1em;
}

.options-mobile li a:hover {
    color: #bd5ae7;
}

@media (min-width: 500px) {
    .nav-text {
        min-width: 500px;
    }
}

@media (min-width: 980px) {
    .options-mobile {
        display: none;
    }

    #desktop {
        display: block;
    }

    .nav {
        /*border: 1px solid black;*/
        height: 90px;
        position: relative;
    }

    .options {
        float: right;
        display: block;
    }

    .options li {
        list-style: none;
        display: inline;
    }

    .options li:nth-child(-n+2) {
        padding-right: 18px;
    }

    .options li a {
        text-decoration: none;
        color: #333;
        font-size: 1.15em;
    }

    .options li a:hover {
        color: #bd5ae7;
    }
}


/****************************
JUMBOTRON
*****************************/
.jumbotron {
    height: 300px;
    width: 100%;
    background-color: #bd5ae7;
}

.jumbotron h2 {
    color: white;
    font-weight: 400;
}

.jumbotron-announcements {
    height: 300px;
    width: 100%;
    background-color: #bd5ae7;
    margin-bottom: 20px;
}

.jumbotron-announcements h2 {
    color: white;
    font-weight: 400;
}


/****************************
HOME PAGE CONTENT
*****************************/

.about p {
    margin: 0;
}

.about h4 {
    margin: 20px 0 5px;
}

.mission {

}

.mission h4 {
    margin: 20px 0 5px;
}

/****************************
ANNOUNCEMENTS
*****************************/

.box {
    height: auto;
    background-color: #616161;
    border-radius: 7px;
    margin-bottom: 18px;
}

.box h4 {
    color: white;
    padding: 16px 16px 3px 16px;
    margin-bottom: 0;
    line-height: 120%;
}


.box p {
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 14px 9px 16px;
    line-height: 140%;
}


/****************************
PROJECTS
*****************************/

.prj {
    min-width: 32%;
    margin-left: 2.0%;
}