/****************************
GENERAL
*****************************/

body {
    font-family: "Varela Round", sans-serif;
}

.vert-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/****************************
NAVIGATION
*****************************/

#desktop {
    display: none;
}

.nav {
    height: 100px;
    position: relative;
}

.nav h4 {
    color: #B276CC;
    padding-bottom: 0;
    margin-bottom: 8px;
}

.nav-text {
    min-width: 100%;
}

.options {
    display: none;
}

.options-mobile li {
    list-style: none;
    display: inline;
}

.options-mobile li:nth-child(-n+3) {
    padding-right: 13px;
}

.options-mobile li a {
    text-decoration: none;
    color: black;
    font-size: 1em;
}

.options-mobile li a:hover {
    color: #B276CC;
}

@media (min-width: 500px) {
    .nav-text {
        min-width: 500px;
    }
}

@media (min-width: 980px) {
    .options-mobile {
        display: none;
    }

    #desktop {
        display: block;
    }

    .nav {
        /*border: 1px solid black;*/
        height: 90px;
        position: relative;
    }

    .options {
        float: right;
        display: block;
    }

    .options li {
        list-style: none;
        display: inline;
    }

    .options li:nth-child(-n+3) {
        padding-right: 18px;
    }

    .options li a {
        text-decoration: none;
        color: black;
        font-size: 1.15em;
    }

    .options li a:hover {
        color: #B276CC;
    }
}


/****************************
JUMBOTRON
*****************************/
.jumbotron {
    height: 300px;
    width: 100%;
    background-color: #B276CC;
}

.jumbotron h2 {
    color: white;
    font-weight: 400;
}


/****************************
CONTENT
*****************************/

.about p {
    margin: 0;
}

.about h4 {
    margin: 20px 0 5px;
}

.mission {

}

.mission h4 {
    margin: 20px 0 5px;
}